
div.tee-contacts a.btn-telegram {
    background: rgb(27, 69, 146);
    border-color: rgb(27, 69, 146);
    color: white;
}
div.tee-contacts a.btn-github {
    background: rgb(27, 27, 27);
    border-color: rgb(27, 27, 27);
    color: white;
}
